.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background-color: rgb(48, 48, 48);
  color: white;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.navbar .primary {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  transition: all 0.5s ease-in-out;
  overflow-y: hidden;
}
.navbar-items a {
  color: #bebebe;
}
.navbar-items a:hover {
  color: #bccdf3;
}

.navbar-items__expand {
  height: auto;
}
.navbar-items__collapse {
  height: 0;
}

.navbar-brand {
  font-size: 1.6em;
}

.navbar-toggler {
  display: none;
}

@media (max-width: 600px) {
  .navbar-toggler {
    display: initial;
  }
  .navbar,
  .navbar-items {
    flex-direction: column;
  }
  .navbar-items {
    padding: 16px 0;
    align-items: flex-start;
  }
  .navbar-items__expand {
    height: 100px;
  }
  .navbar-items__collapse {
    padding: 0;
  }
}
